:root {
    --black: #212121;
    --white: #ffffff;
    --primary_color: #2f303a;
    --blue: #2196f3;
    --light_blue: #188ce8;
    --grey: #757575;
    --white_button: #f5f4fa;
    --icon: #afb1b8;
    --dominant_font: "Roboto", sans-serif;
}

body {
    font-family: var(--dominant_font);
    color: var(--black);
    font-style: normal;
    line-height: normal;
    font-size: 14px;
    font-weight: 400;
}

button {
    font: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

ul, ol {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p {
    margin: 0;
}

li {
    list-style-type: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/**/

/**/

.header {
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;

    .container {
        display: flex;
        align-items: center;
    }

    nav {
        margin-left: 93px;
    }

    .logo-header {
        color: var(--blue);

        > span {
            color: var(--black)
        }

        font-family: Raleway, sans-serif;
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 0.03em;
    }

    .header-link-list {
        display: flex;
        gap: 50px;

        .header-link-element {
            font-weight: 500;
            letter-spacing: 0.02em;

            a {
                transition: color 300ms ease-in-out;
            }

            a:hover, a:focus {
                color: var(--blue);
            }
        }
    }

    .header-contact-list {
        display: flex;
        margin-left: auto;
        align-items: center;
        gap: 40px;

        .contact-header {
            color: var(--grey);
            font-weight: 500;
            letter-spacing: 0.02em;

            a {
                display: flex;
                align-items: center;
                transition: color 300ms ease-in-out;
            }

            a:hover, a:focus {
                color: var(--blue);
            }
        }

        .header-icon {
            margin-right: 10px;
            align-self: center;
            fill: currentColor;
        }
    }
}

/**/

/**/

.main-business {
    .title {
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.03em;
        margin-bottom: 50px;
    }

    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url("../images/business.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        height: 600px;
        display: flex;
        align-items: center;
        text-align: center;

        .business-hero {
            color: var(--white);
            text-align: center;
            font-size: 44px;
            font-weight: 900;
            line-height: 1.36;
            letter-spacing: 0.06em;
            text-transform: uppercase;

            margin: auto;
            max-width: 696px;
        }

        .button-hero {
            color: var(--white);
            border: none;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.875;
            letter-spacing: 0.06em;
            border-radius: 4px;
            background: var(--blue);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

            padding: 10px 24px;
            transition: color 0.5s;
            margin-top: 30px;
        }

        .button-hero:hover, .button-hero:focus {
            background-color: var(--light_blue);
        }
    }

    .advantages {
        padding-top: 94px;
        padding-bottom: 94px;

        .advantages-list {
            gap: 30px;
            display: flex;

            .advantages-item {
                max-width: 270px;

                .detail-list-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 25px 100px;
                    margin-bottom: 30px;
                    background-color: var(--white_button);
                    border-radius: 4px;
                }

                .advantages-title {
                    font-weight: 700;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }

                .advantages-text {
                    color: var(--grey);
                    line-height: 1.71;
                    letter-spacing: 0.03em;
                }
            }
        }
    }

    .work {
        text-align: center;
        padding-bottom: 94px;

        .work-list {
            display: flex;
            gap: 30px;
            justify-content: center;

            .work-image {
            }
        }
    }

    .team {
        background: var(--white_button);

        margin: 0;
        padding-bottom: 94px;
        padding-top: 94px;

        .team-list {
            display: flex;
            justify-content: center;
            gap: 30px;

            .team-member {
                border-radius: 0px 0px 4px 4px;
                background: var(--white);
                box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);

                .portfolio {
                }

                .member-info {
                    padding: 30px;

                    .member {
                        text-align: center;;
                        font-size: 16px;
                        font-weight: 500;
                        letter-spacing: 0.03em;
                        margin-bottom: 10px;
                    }

                    .stack {
                        color: var(--grey);
                        text-align: center;
                        font-size: 16px;
                        letter-spacing: 0.03em;
                    }
                }

                .members-social-links {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    margin-top: 16px;

                    li {
                        width: 44px;
                        height: 44px;
                    }

                    a:hover, a:focus {
                        background-color: var(--blue);
                        color: var(--white);
                        outline: none;
                    }

                    .social-links-icons {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        color: var(--icon);
                        fill: currentColor;
                        transition: all 300ms ease-in-out;
                    }
                }
            }
        }
    }

    .clients {
        text-align: center;
        padding: 94px 0;
        margin: 0;

        .client-list {
            display: flex;
            width: 100%;
            justify-content: center;
            gap: 30px;

            a {
                border-radius: 4px;
                border: 1px var(--icon) solid;
                display: inline-block;
                color: var(--icon);
                transition: color 0.5s, border 0.5s;
            }

            a:hover, a:focus {
                color: var(--blue);
                border: 1px var(--blue) solid;
            }

            .client-logo {
                width: 100%;
                height: 100%;
                padding: 16px 32px;
                fill: currentColor;
                transition: fill 0.5s;
            }
        }
    }
}

/**/

/**/

.footer {
    background: var(--primary_color);

    .container {
        display: flex;
        padding-top: 60px;
        padding-bottom: 60px;
        align-items: baseline;
    }

    .footer-address {
        margin-right: 70px;

        .logo-footer {

            display: inline-block;
            margin-bottom: 28px;

            color: var(--blue);

            > span {
                color: var(--white)
            }

            font-family: Raleway, sans-serif;
            font-size: 26px;
            font-weight: 700;
            letter-spacing: 0.03em;
        }

        .footer-contact-list {

            .contact-footer {

                &:not(:last-child) {
                    margin-bottom: 12px;
                }

                line-height: 1.14;
                letter-spacing: 0.03em;
                font-style: normal;

                .city {
                    color: var(--white);
                }

                color: rgba(255, 255, 255, 0.6);;

                a {
                    transition: color 300ms ease-in-out;
                }

                a:hover, a:focus {
                    color: var(--blue);
                }
            }
        }
    }

    .footer-links {

        .footer-text-join {
            color: var(--white);
            font-weight: 700;
            letter-spacing: 0.03em;
            text-transform: uppercase;

            margin-bottom: 20px;
        }

        .footer-social-links {
            display: flex;
            width: 100%;
            justify-content: center;
            gap: 10px;

            li {
                height: 44px;
                width: 44px;
            }

            .footer-social-links-icons {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.1);
                width: 100%;
                height: 100%;

                color: var(--white);
                fill: currentColor;
                transition: color 0.5s, background-color 0.5s;
            }

            .footer-social-links-icons:hover,
            .footer-social-links-icons:focus {
                color: var(--white);
                fill: currentColor;
                background-color: var(--light_blue);
            }
        }
    }
}

/**/

/**/

.main-portfolio {

    padding-bottom: 94px;
    padding-top: 94px;

    .portfolio {
        .list-button-portfolio {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            margin-bottom: 50px;

            .button-element {
                color: var(--black);

                button {
                    text-align: center;
                    padding: 6px 22px;
                    border-radius: 4px;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.62;
                    letter-spacing: 0.03em;
                    transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
                    border: none;
                }

                button:hover, button:focus {
                    color: var(--white);
                    background-color: var(--blue);
                }
            }
        }

        .list-projects {

            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;

            .project-element {
                border: 1px solid #EEE;
                background: var(--white);
                max-width: 370px;

                img {
                    width: 100%;
                }

                .project-info {

                    padding: 20px 23px;

                    .project-title {
                        color: var(--black);
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 2;
                        letter-spacing: 0.06em;
                        margin-bottom: 4px;
                    }

                    .project-text {
                        color: var(--grey);
                        font-size: 16px;
                        line-height: 1.875;
                        letter-spacing: 0.03em;
                    }
                }
            }

            .project-element:hover,
            .project-element:focus {
                background-color: var(--white);
                border: 1px solid #eeeeee;
                box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
            }
        }
    }
}

