.main-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

  @include mobile {
    margin-bottom: 30px;
  }
  @include tablet {
    margin-bottom: 30px;
  }
}

@import "hero";

@import "modal-window/modal-window";

@import "advantages";
@import "work";
@import "team";
@import "clients";