$black: #212121;
$white: #ffffff;
$primary_color: #2f303a;
$blue: #2196f3;
$light_blue: #188ce8;
$grey: #757575;
$white_button: #f5f4fa;
$icon: #afb1b8;
$dominant_font: "Roboto", sans-serif;
$raleway_font: "Raleway", sans-serif;

@mixin mobile {
  @media screen and (min-width: 0) and (max-width: 767.9px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}