.footer-logo {

  display: inline-block;
  margin-bottom: 28px;

  color: $blue;

  > span {
    color: $white;
  }

  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}