.footer {
  background: $primary_color;

  .footer-title {
    color: $white;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 20px;
  }

  .container {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: baseline;
    gap: 94px;

    @include mobile {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    @include tablet {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  .footer-container,
  .footer-social-links,
  .footer-join {

    @include mobile {
      margin-left: 0;
    }
    @include tablet {
      margin-left: 0;
    }

    &:nth-child(1) {
      @include mobile {
        text-align: center;
      }
      @include tablet {
        text-align: center;
      }
    }

    &:nth-child(2) {
      @include mobile {
        text-align: center;
      }
      @include tablet {
        text-align: center;
      }
    }

    &:nth-child(3) {
      @include mobile {
        text-align: center;
      }
      @include tablet {
        text-align: center;
      }
    }
  }

  .footer-container {
    min-width: 231px;
  }

  .footer-logo {

    display: inline-block;
    margin-bottom: 28px;

    color: $blue;

    > span {
      color: $white;
    }

    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.03em;
  }

  .footer-container-contact-list {


    &-element {

      &:not(:last-child) {
        margin-bottom: 12px;
      }

      line-height: 1.14;
      letter-spacing: 0.03em;
      font-style: normal;

      .city {
        color: $white;
      }

      color: rgba(255, 255, 255, 0.6);

      a {
        transition: color 300ms ease-in-out;
      }

      a:hover, a:focus {
        color: $blue;
      }
    }
  }

  .footer-social-links {

    &-list {
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 10px;

      li {
        height: 44px;
        width: 44px;
      }

      &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
        width: 100%;
        height: 100%;

        color: $white;
        fill: currentColor;
        transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
      }

      &-icon:hover,
      &-icon:focus {
        color: $white;
        fill: currentColor;
        background-color: $blue;
      }
    }
  }

  .footer-join {
    flex-grow: 1;
    width: 100%;

    &-box {
      display: flex;

      @include tablet {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
      }
      @include mobile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }

      .label-input {
        flex-grow: 1;
      }

      .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        clip: rect(0, 0, 0, 0);
        overflow: hidden;
      }

      .footer-input {
        width: 100%;
        background: rgba(33, 150, 243, 0);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: 1px rgba(255, 255, 255, 0.3) solid;
        padding: 16px 16px 16px 16px;

        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);

        @include tablet {
          width: 450px;
        }
        @include mobile {
          min-width: 92.5%;
        }
      }

      &-button {
        background: $blue;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        padding: 10px 28px;
        margin-left: 12px;

        font-size: 16px;
        font-weight: 700;
        line-height: 1.875;
        letter-spacing: 0.06em;
        color: $white;
        display: flex;
        align-items: center;
        transition: background-color 300ms ease-in-out;

        @include tablet {
          margin-top: 20px;
        }
        @include mobile {
          margin-top: 20px;
        }


        &:hover, &:focus {
          background-color: $light_blue;
        }

        @include tablet {
          margin-left: 0;
        }
        @include mobile {
          margin-left: 0;
        }

        &-icon {
          margin-left: 10px;
          fill: currentColor;
          @include tablet {
            margin-left: 12px;
          }
          @include mobile {
            margin-left: 12px;
          }
        }
      }

      .footer_input:focus,
      .footer_input:hover {
        outline-color: $blue;
      }
    }
  }
}