nav {
  margin-left: 93px;
}

.header-link-list {
  display: flex;
  gap: 50px;

  &-element {
    font-weight: 500;
    letter-spacing: 0.02em;

    a {
      transition: color 300ms ease-in-out;
    }

    a:hover, a:focus {
      color: $blue;
    }
  }

  &-element-active {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.03em;
    word-wrap: break-word;
    color: $blue;
  }

  &-list, &-element-active::after {
    content: "";
    display: block;
    bottom: -32px;
    border-radius: 2px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $blue;
    position: absolute;
  }
}